$background-color: #f3f7fa;
$text-color-primary: #20265b;
$text-color-accent: #ee312f;
$text-color-success: #13ce66;
$text-color-secondary: #3572ca; 
$text-color-warning: #f7ba2a;
$text-color-danger: #ec205f;
$text-color-info: #92979a;
$btn-color-light: #f0f2f5;